::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #928fee;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.12);
}
